{% extends 'base.html.twig' %}

{% block title %}Hello AvisController!{% endblock %}

{% block body %}

  {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
<section class="blog single-blog section">
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1 col-lg-9 offset-lg-0">
				<div class="block comment">
					<h4>Inscription</h4>
					<form method="post">
						<!-- Message -->
						<div class="row">
							<div class="col-sm-12 col-md-6">
								<!-- Name -->
								<div class="form-group mb-30">
								    <label for="nom">Nom</label>
								    <input type="text" name="nom" class="form-control" id="nom">
								</div>
							</div>
							<div class="col-sm-12 col-md-6">
								<!-- Email -->
								<div class="form-group mb-30">
								    <label for="prenom">Prenom</label>
								    <input type="text" name="prenom" class="form-control" id="prenom">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 col-md-6">
								<!-- Name -->
								<div class="form-group mb-30">
								    <label for="password">Password</label>
								    <input type="text" name="password"class="form-control" id="password">
								</div>
							</div>
							<div class="col-sm-12 col-md-6">
								<!-- Email -->
								<div class="form-group mb-30">
								    <label for="email">Email</label>
								    <input type="email" class="form-control" id="email">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 col-md-6">
								<!-- Name -->
								<div class="form-group mb-30">
								    <label for="civilite">Civilite</label>
								    <input type="text" name="civilite"class="form-control" id="civilite">
								</div>
							</div>
						</div>
						
						   <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						<button class="btn btn-outline-success my-2 my-sm-0">inscription</button>
					</form>
				</div>
			</div>
	
		</div>
	</div>
</section>
{% endblock %}
